
<div class="control-episodes">

    <a class="control-episodes-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm.707-10.293a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L9.414 11H13a1 1 0 100-2H9.414l1.293-1.293z" clip-rule="evenodd" />
        </svg>
        <p>Previous</p>
    </a>

    <select name="EpisodesSelector" id="select-episodes" class="select-episodes">
        <option value="">List Episodes</option>
        <option value="">Episode 1</option>
        <option value="">Episode 2</option>
        <option value="">Episode 3</option>
    </select>

    <a class="control-episodes-arrow">
        <p>Next</p>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
        </svg>
    </a>
</div>
<div class="control-player">
    <a class="control-episodes-arrow">
        <img alt="player" src="/img/players/icon_dstream.png">
        <p>Dstream</p>
    </a>
    <a class="control-episodes-arrow">
        <img alt="player" src="/img/players/icon_vidspot.png">
        <p>VidSpot</p>
    </a>
    <a class="control-episodes-arrow">
        <img alt="player" src="/img/players/icon_vudeo.png">
        <p>Vudeo</p>
    </a>
    <a class="control-episodes-arrow">
        <img alt="player" src="/img/players/icon_uqload.png">
        <p>Uqload</p>
    </a>

</div>

<style>
    .control-episodes {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .control-episodes-arrow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        background-color: #C8472C;
        border-radius: 10px;
        padding: 8px 20px;
        color: white !important;
    }

    .control-episodes-arrow svg, .control-episodes-arrow img {
        width: 20px;
        height: 20px;
    }

    .select-episodes {
        width: 200px;
        height: 40px;
        background-color: #C8472C;
        border-radius: 10px;
        padding: 8px 20px;
        color: white !important;
        font-size: 16px;
    }

    .select-episodes:focus {
        outline: none;
        border-radius: 10px;
    }

    .control-player {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
    }

    @media screen and (max-width: 530px) {
        .control-episodes {
            flex-direction: column;
        }
    }

</style>