    <footer id="site-footer">
        <section class="horizontal-footer-section" id="footer-middle-section">
            <div id="footer-about" class="footer-columns footer-columns-large">
                <div id="footer-logo">
                    <picture>
                        <a href="/"><img src="/img/anime-logo.png" alt="footer logo" role="presentation"></a>
                    </picture>
                </div>

            </div>
            <div class="footer-columns">
                <h1>Pages</h1>
                <ul class="footer-column-menu" role="menu">
                    <li class="footer-column-menu-item" role="menuitem">
                        <a href="/#features" class="footer-column-menu-item-link">Home</a>
                    </li>
                    <li class="footer-column-menu-item" role="menuitem">
                        <a href="/membership/join" class="footer-column-menu-item-link">Film</a>
                    </li>
                    <li class="footer-column-menu-item" role="menuitem">
                        <a href="#" class="footer-column-menu-item-link">Series</a>
                    </li>
                </ul>
            </div>
            <div class="footer-columns">
                <h1>Resources</h1>
                <ul class="footer-column-menu" role="menu">
                    <li class="footer-column-menu-item" role="menuitem">
                        <a href="/support#faq" class="footer-column-menu-item-link">FAQ</a>
                    </li>
                    <li class="footer-column-menu-item" role="menuitem">
                        <a href="/credits" class="footer-column-menu-item-link">Credits</a>
                    </li>
                    <li class="footer-column-menu-item" role="menuitem">
                        <a href="#" class="footer-column-menu-item-link">Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="footer-columns">
                <h1>Information</h1>
                <ul class="footer-column-menu" role="menu">
                    <li class="footer-column-menu-item" role="menuitem">
                        <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
                    </li>
                    <li class="footer-column-menu-item" role="menuitem">
                        <a href="/support" class="footer-column-menu-item-link">Support</a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="horizontal-footer-section" id="footer-bottom-section">
            <div id="footer-copyright-info">
                &copy; PlayAnime 2022. All rights reserved.
            </div>
        </section>

    </footer>

</body>
</html>

<style>

    footer {
        margin: 0 auto;
        width: 100%;
        background: #6AF89A;
        padding: 2rem 6rem;
        color: #a8a8a8;
        border-top: 1px solid #2f2f2f;
    }

    footer a {
        color: #313131;
    }

    footer a:hover {
        color: #ffffff;
    }

    footer h1 {
        color: #1a1a1a;
    }

    footer section.horizontal-footer-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 2.38rem 2rem;
    }

    footer section.horizontal-footer-section#footer-top-section {
        justify-content: center;
    }

    #footer-copyright-info {
        color: #1a1a1a;
    }

    footer #footer-logo {
        display: flex;
        justify-content: center;
        margin-right: auto;
        flex-shrink: 0;
    }

    footer #footer-logo img {
        width: 150px;
    }

    footer #footer-buttons-container {
        margin-left: auto;
        flex-shrink: 0;
    }

    footer a.footer-button {
        background: transparent;
        border: 0.15rem solid #a8a8a8;
        border-radius: 1.38rem;
        padding: 0.5rem 1rem;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
    }

    footer a.footer-button:hover {
        border-color: #eb3d4e;
    }

    footer section.horizontal-footer-section#footer-middle-section {
        align-items: flex-start;
    }

    footer .footer-columns {
        flex-basis: 18%;
        padding-right: 1rem;
    }

    footer .footer-columns-large {
        flex-basis: 46%;
        padding-right: 2rem;
    }

    footer .footer-columns h1 {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: 800;
    }

    footer .footer-columns.footer-columns-large h1 {
        font-size: 1.28rem;
        margin-top: 3rem;
        margin-bottom: 1.32rem;
    }

    footer .footer-columns.footer-columns-large h1:first-child {
        margin-top: 0;
    }

    footer ul.footer-column-menu {
        margin: 0;
        padding: 0;
    }

    footer ul.footer-column-menu li {
        list-style-type: none;
        margin-bottom: 0.68rem;
        font-size: 0.88rem;
    }

    footer #footer-about address {
        font-style: normal;
        font-weight: bold;
    }

    footer #footer-about address p img {
        margin-right: 0.68rem;
    }

    footer #footer-about a.footer-button {
        margin-top: 0.32rem;
    }

    footer section.horizontal-footer-section#footer-bottom-section {
        padding: 1.32rem 0;
        margin: 2rem 2rem 1.32rem 2rem;
        border-top: 0.05rem solid #2f2f2f;
    }

    footer #footer-social-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        justify-self: flex-end;
        margin-left: auto;
    }

    footer #footer-social-buttons i {
        font-size: 25px;
    }

    footer #footer-social-buttons i:hover {
        cursor: pointer;
    }

    @media screen and (max-width: 959px) {

        footer {
            width: 100%;
        }

        footer section.horizontal-footer-section {
            flex-direction: column;
            flex-wrap: wrap;
        }

        footer section.horizontal-footer-section div {
            flex-basis: 100%;
            width: 100%;
        }

        footer ul li {
            display: block !important;
            padding: 1em !important;
            border-bottom: none;
            border-left: none;
            border-right: none;
            font-size: 1.15rem !important;
        }

        footer ul li:first-child {
            border-top: none;
        }

        footer a.footer-button {
            display: block;
            text-align: center;
            max-width: 350px;
            margin: 0.32rem auto;
        }

        footer section.horizontal-footer-section#footer-top-section div {
            margin-top: 0;
            margin-bottom: 1.68rem;
        }

        footer #footer-logo {
            margin-right: 0;
        }

        footer #footer-buttons-container {
            margin-left: 0;
        }

        footer ul#footer-top-menu {
            width: 100%;
            margin: 2rem 0 0 0;
        }

        footer .footer-top-menu-item-active::before {
            display: none;
        }

        footer #footer-about {
            margin-bottom: 3rem;
        }

        footer .footer-columns-large,
        footer .footer-columns {
            padding-right: 0;
        }

        footer .footer-columns {
            margin-top: 0;
            margin-bottom: 4rem;
        }

        footer .footer-columns:last-child {
            margin-bottom: 0;
        }

        footer .footer-columns h1 {
            text-align: center;
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
        }

        footer ul.footer-column-menu li {
            margin-bottom: 0;
            display: block;
            text-align: center;
        }

        footer section#footer-bottom-section div {
            text-align: center;
        }

        footer section.horizontal-footer-section#footer-bottom-section {
            margin: 1.32rem 0;
            padding: 0;
            border-top: 0;
        }

        footer section#footer-bottom-section #footer-social-buttons {
            margin-top: 1.32rem;
        }
    }

</style>