<% if (!logged) { %>
    <div class="navbar-item">
        <div class="buttons">
            <a class="button is-link" href="/auth">
                <strong>Login</strong>
            </a>
        </div>
    </div>

<% }else { %>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-profile">

            <p><%=user.username%></p>

            <img class="pp-discord" src="<%=`https://cdn.discordapp.com/avatars/${user.discordId}/${user.avatar}.png`%>">
        </a>

        <div class="navbar-dropdown">
            <a class="navbar-item" href="/dashboard">
                Dashboard
            </a>
            <a class="navbar-item" href="/dashboard/settings">
                Settings
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/auth/logout">
                <strong>Logout</strong>
            </a>
        </div>
    </div>

<% } %>

<style>

    .pp-discord {
        height: 32px;
        border-radius: 50%;
        margin-left: 10px;
    }

    .navbar-profile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff !important;
        padding: 0 36px 0 20px;
    }

    .navbar-dropdown a.navbar-item:hover > .navbar-link {
        background-color: #2f3136 !important;
    }

    .navbar-profile:not(.is-arrowless)::after {
        border: 3px solid transparent;
        border-radius: 2px;
        border-right: 0;
        border-top: 0;
        content: " ";
        display: block;
        height: 0.625em;
        margin-top: -0.4375em;
        pointer-events: none;
        position: absolute;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        width: 0.625em;
        border-color: #fff !important;
        margin-top: -0.375em;
        right: 1.125em;
    }

    .button.is-link {
        background-color: #d05c46 !important;
        color: #fff !important;
    }

    .button.is-link:hover {
        background-color: #edb500 !important;
        color: #fff !important;
    }

    @media screen and (max-width: 1023px) {
        .navbar-profile {
            color: #C8472C;
        }

        .navbar-profile p {
            display: none;
        }

        .navbar-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #C8472C !important;
        }
    }


</style>