<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/anime-logo.png" width="112" height="28" alt="Logo">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="/movies">
                Movies
            </a>

            <a class="navbar-item" href="/series">
                Series
            </a>
        </div>

        <div class="navbar-end">
            <div class="support-search">
                <div class="search-bar">
                    <form class="bar-container" id="form-search">
                        <input type="text" placeholder="Fast search..." id="searchbar" onkeyup="sendData(this)"/>
                        <section id="searchResults" ></section>
                    </form>

                </div>
            </div>

            <%- include('../partials/login-button') -%>
        </div>


    </div>
</nav>

<script>
    function searching() {
        const searchbar = document.getElementById('searchbar');
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.has('q') ? urlParams.set('q', searchbar.value) : urlParams.append('q', searchbar.value);
        let match2 = searchbar.value.match(/\s*/)
        if (match2 && match2[0] === searchbar.value) return;
        if (searchbar.value) {
            window.history.replaceState(null, null, "/search?"+urlParams.toString().replaceAll("+", "%20"));
            window.location.reload();
        }
    }
    document.getElementById("form-search").addEventListener('submit', function (event) {
        event.preventDefault();
        searching()
    });

    function sendData(e) {
        const searchResults = document.getElementById('searchResults');
        let match = e.value.match(/^[a-zA-Z\d]+$/);
        let match2 = e.value.match(/\s*/)

        if (match2[0] === e.value) {
            searchResults.innerHTML = '';
            return;
        }
        if (match[0] === e.value) {
            fetch('/fastsearch', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    search: e.value
                })
            }).then(res => res.json()).then(data => {
                let search = data.search
                searchResults.innerHTML = '';
                if (search.length > 0) {
                    search.forEach((item, index) => {
                        searchResults.innerHTML += `<a class="navbar-item" href="/anime/?name=${item.name}">${item.name}</a>`
                    })
                } else {
                    searchResults.innerHTML = '<a class="navbar-item">No results</a>'
                }
            })
        }
    }
    function showSearch() {
        document.getElementById("searchResults").style.visibility = "visible";
    }

    function hideSearch() {
        document.getElementById("searchResults").style.visibility = "hidden";

    }
</script>

<style>
    .navbar {
        background-color: #C8472C;
    }

    .navbar-item {
        color: #fff !important;
    }

    .navbar-start a:hover {
        color: #fff !important;
        background-color: #d05c46 !important;
    }

    .navbar-end a:hover {
        color: #fff !important;
        background-color: #d05c46 !important;
    }

    .navbar-dropdown a {
        color: #d05c46 !important;
    }

    .bar-container input::placeholder, .bar-container input {
        color: #fff !important;
    }

    .support-search {
        flex-direction: column;
        width: 100%;
    }

    #searchResults {
        top: 52px;
        background-color: white;
        position: absolute;
        width: 250px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        visibility: hidden;
        box-shadow: 0px 0px 10px rgba(53, 53, 53, 0.21);
    }

    #searchResults:hover{
        visibility: visible;
    }

    #searchResults a {
        color: #C8472C !important;
    }

    #searchResults a:last-child {
        border-bottom-right-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
    }

    #searchResults a:hover {
        background-color: #d05c46 !important;
        color: #fff !important;
    }

    .navbar-burger {
        color: white !important;
    }

    .bar-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-block-end: 0 !important;
    }

    .search-bar{
        height: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-bar input {
        height: 35px;
        width: 250px !important;
        display: block;
        background-color: transparent;
        border: 1px solid #bababa;
        border-radius: 10px;
        padding: 0 10px 0 54px;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M18.5 17h-.79l-.28-.27a6.5 6.5 0 10-.7.7l.27.28v.79l5 4.99L23.49 22l-4.99-5zm-6 0a4.5 4.5 0 11-.01-8.99A4.5 4.5 0 0112.5 17z' id='a'/%3E%3C/defs%3E%3Cg transform='translate(-6 -6)' fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cg mask='url(%23b)' fill='%23D8D8D8'%3E%3Cpath d='M3 3h24v24H3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 25px 50%;
        color: #7c7c7c;
        font-size: 16px;
    }

    .search-bar input:focus {
        outline: none;
    }

    .search-bar input:focus + #searchResults {
        visibility: visible;
    }

    @media screen and (max-width: 1024px) {
        .navbar-item {
            color: #C8472C !important;
        }
        #searchResults {
            z-index: 99;
        }
        .bar-container input::placeholder, .bar-container input {
            color: #C8472C !important;
        }
    }



</style>