
<div class="player-container">
    <iframe title="<%=anime.name%>" class="aspect-video flex w-full" src="https://video.sibnet.ru/shell.php?videoid=4668331" frameborder="0"
            sandbox="allow-forms allow-pointer-lock allow-same-origin allow-scripts allow-top-navigation" allowfullscreen=""
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"></iframe>
</div>

<style>

    .player-container {
        width: 100%;
        max-width: 800px;
    }

    .player-container iframe {
        width: 100%;
        max-width: 100rem;
    }


    .aspect-video{
        aspect-ratio: 16/9;
    }

</style>